h1 {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    }
img {
    height: auto;
    width: 600px;
}
.Photo-Credit{
    font-size: 9px;
    margin-left: 305px;
}
h2 {
    color: teal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
body{
    background-color: aqua;
}
table, td{
    border:1px solid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 450px;
}
.directory{
    text-align: center;
    color: firebrick;
    font-size: x-large;
    margin-top: 100px;
}
